
<!DOCTYPE html>
<html lang="ja">
<head>
  <title>jQuery lesson</title>
<script src="https://www.google.com/jsapi"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
    var _onload = function(){
        $("myId").append("<p>API Load</p>");
    }
    
    //google feed api
    google.load("feeds","1",{"callback":_onload} );
    //window.onload = _onload;
    
</script>
</head>
<body>
    <div id="myId">
    </div>

</body>
</html>
